<div class="container">
  <div class="row">
    <div class="col s8">
      <div class="card">
        <div class="card-content">
          <h1>Impresión Manual</h1>
          <!--qrcode [qrdata]="Idest" [size]="256" [level]="'M'"></qrcode-->
          <form (submit)="onRegisterSubmit()">
            <div class="form-group">
              <label> Ingrese rol del Estudiante </label> 
              <input type="text" [(ngModel)]="Idest" name="Idest"  class ="form-control">
              <input type="submit" class="btn btn-primary" value="Generar Ticket">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>