<nav class="nav-wrapper blue">
  <div class="container-fluid">
    <div class="navbar">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ">
          <li><span >
              <img src="../../../assets/USM3.png"  
              width="220" height="64" >
          </span></li>

          <div *ngIf="!this.loggedIn() && !this.loggedIn2()">
            <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/']">Home</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/login']">Login</a></li>
          </div>
          <div *ngIf="this.loggedIn()">
              <div *ngIf="!this.loggedIn2()">
            <li class="nav-item" [routerLinkActive]="['active']"> <a [routerLink]="['/registro']">Registro</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"> <a [routerLink]="['/qr']">Código Qr</a></li>
            <li class="nav-item" [routerLinkActive]="['active']"> <a [routerLink]="['/historial']">Historial de Tickets</a> </li>
            <li><a (click)="onLogoutClick" href="#">Logout</a></li>
              </div>
          </div>
          <div *ngIf="!this.loggedIn()">
              <div *ngIf="this.loggedIn2()">
            <li class="nav-item" [routerLinkActive]="['active']"> <a [routerLink]="['/historial']">Historial de Tickets</a> </li>
            <li class="nav-item" [routerLinkActive]="['active']"> <a [routerLink]="['/validar']">Validación Manual</a> </li>
            <li><a (click)="onLogoutClick" href="#">Logout</a></li>
              </div>
          </div>
          <li class="nav-item" [routerLinkActive]="['active']"><a [routerLink]="['/preguntas']">Ayuda</a></li>
          
        </ul>
      </div>
    </div> 
  </div>
</nav>