<div class="container">
  <div class="row">
    <div class="col s15">
     <div class="card">
      <table class="striped highlight black-text">
        <thead>
          <th>Id</th>
          <th>String Qr</th>
          <th>Estado</th>
          <th>Fecha creación</th>
          <th>Id Estudiante</th>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of ticketService.tickets"> 
            <td>{{ ticket.id}}</td>
            <td>{{ ticket.qr}}</td>
            <td>{{ ticket.verificar}}</td>
            <td>{{ ticket.createdAt}}</td>
            <td>{{ ticket.Idest}}</td>
          </tr>
        </tbody>
      </table>
     </div>
    </div>
  </div>
</div>