<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content"> 
        <h3 class="page-header">Registro de Usuario</h3>
        <form (submit)="onRegisterSubmit()">
          <div class="form-group">
            <label> Nombre </label>
            <input type="text" [(ngModel)]="nombre" name="nombre" class ="form-control">
          </div>
          <div class="form-group">
            <label> Email </label>
            <input type="text" [(ngModel)]="email" name="email"  class ="form-control">
          </div>
          <div class="form-group">
            <label> Rol </label>
            <input type="text" [(ngModel)]="rol" name="rol"  class ="form-control">
          </div>
          <div class="form-group">
            <label> Simular huella </label>
            <input type="text" [(ngModel)]="huella" name="huella"  class ="form-control">
          </div>
          <div class="form-group">
            <label> Id Administrador </label>
            <input type="text" [(ngModel)]="Idadmin" name="Idadmin"  class ="form-control">
          </div>
          <input type="submit" class="btn btn-primary" value="Registrar">
        </form>
      </div>
    </div>
  </div>
</div>
