<div class="container">
  <div class="row">
    <div class="card">      
      <div class="center">
        <h3>Sistema de Gestión de Tickets</h3>
          <div>
            <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
          </div>
      </div>
    </div>
  </div>
</div>