<div class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <h1>Validar ticket manualmente</h1>
        <form (submit)="onRegisterSubmit()">
          <div class="form-group">
            <label> Ingrese id del ticket </label> 
            <input type="text" [(ngModel)]="id" name="id"  class ="form-control">
            <input type="submit" class="btn btn-primary" value="Validar">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>