<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card border-primary mb-3" style="max-width:400px">
        <div class="card-content"> 
          <img class="card-img-top" src="../../../assets/avatar.png" width="160" height="160">
          <h3 class="page-header">Login</h3>
        <form (submit)="onLoginSubmit()">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [(ngModel)]="email" name="email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type ="password" class="form-control" [(ngModel)]="pass" name="pass">
          </div>
          <input type="submit" class="btn btn-primary" value="Login">
        </form>
      </div>
    </div>
  </div>
</div>