<div class="container">
  <div class="row">
    <div class="card">      
      <div class="center">
        <h3>Apoyo a la gestión</h3>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="card">      
      <div class="center">
        <h4>Preguntas frecuentes</h4>
      </div>
    </div>
</div>